*

!.gitignore
!settings.json

!.agents/
!.agents/config
!.agents/config/commit.config.json

!.codex/
!.codex/config
!.codex/config/commit.config.json

!AGENTS.md
!SKILLS.md

!README.md

!.github
!.github/**

!skills
!skills/**/*

!docs
!docs/**

!rules
!rules/**

!scripts
!scripts/**

**/__pycache__
