*

!.gitignore
!settings.json

!.claude/
!.claude/config
!.claude/config/commit.config.json

!AGENTS.md
!ARTICLES.md
!SKILLS.md

!CLAUDE.md
!README.md

!.github
!.github/**

!skills
!skills/**/*

!docs
!docs/**

!articles
!articles/**

!rules
!rules/**

!subscriptions
!subscriptions/**

!scripts
!scripts/**

**/__pycache__