# Ignore all files by default
*

# Includes these root files
!.gitignore
!CLAUDE.md

# Include these folders
!skills
!skills/**/*

!rules
!rules/**/*

!commands/
!commands/**/*

# Ignored local configs anyway in any place
**/*.local.*